# user inputs
workflow_location="/cluster/home/keiya/Aneurysm_Workflow_FSI"
mesh_path="case16"
case_path="$USERWORK/case16_cs50"
refined_mesh_path="${mesh_path}_refined"
save_deg=2
dt=0.00033964285714285700
stride_sd1=1
stride_sd2=1
start_t=0
start_t_sd1=1.902
start_t_sd2=1.902
end_t=2.853
stride_stress=1
x_sphere=0.072546
y_sphere=0.133805
z_sphere=0.05778
r_sphere=0.007
bands="25,25"
hi_pass=no_hi_pass